input{
    display: block;}
#login-form{
    margin: 20px auto;
    width: 300px;
    border-radius: 5px;
    background-color: #FFC0CB;
    padding: 30px;}
.text-input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;}
.button-input{
    width: 100%;
    background-color: #FFC0CB;
    color: pink;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;}
